* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: #2b292d;
  font-family: "Work Sans", sans-serif;
}

.page {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .page {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    min-height: 100vh;
    margin: auto;
  }
}

.action__button {
  width: 160px;
  height: 48px;
  font-size: 18px;
  background-color: #3040c4;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

@media screen and (min-width: 1400px) {
  .headline__action-btn {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  .hide-desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide-mobile {
    display: none;
  }
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    padding-top: 39px;
    background-color: #f3c6bd;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  padding-left: 15px;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .header {
    align-items: normal;
    width: 1140px;
    height: 62px;
    padding: 0;
    margin: auto;
    background: #f3c6bd;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  height: 100%;
  width: 58px;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  margin-left: auto;
  border: none;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin: 7px 75px 0 auto;
  }
}
.navigation__item {
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
  color: #2b292d;
  text-decoration: none;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__description {
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  opacity: 0.6;
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    position: relative;
    display: flex;
    width: 1245px;
    height: 456px;
    margin: 76px 0 77px 130px;
  }
}
.headline__content {
  margin: 35px 15px 33px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  letter-spacing: -0.3125px;
  font-weight: 700;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}
.headline__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
    margin: 34px 0 0;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    display: flex;
    margin: 58px 0 49px;
  }
}
.headline__learn-more-btn {
  width: 158px;
  height: 48px;
  font-size: 18px;
  margin-top: 15px;
  background-color: #fff;
  color: #3040c4;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin: 0 0 0 10px;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    right: -25px;
    top: 8px;
    z-index: 0;
    width: 796px;
    height: 448px;
    margin: 0 25px 0 auto;
  }
}
@media screen and (max-width: 1399px) {
  .headline__action-btn {
    width: 100%;
  }
}

.about {
  width: 100%;
  padding: 46px 15px;
  background: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  font-weight: 700;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 6px 0 0 0;
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    margin: auto;
    padding: 30px 0 106px 0;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  max-width: 80%;
  filter: brightness(0);
}

.features {
  display: flex;
  position: relative;
  padding-bottom: 103px;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  margin: auto;
  display: flex;
  width: 1140px;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  color: #009b4d;
  font-weight: 700;
}
.features__title {
  font-size: 56px;
  line-height: 56px;
  margin: 24px 0 0 0;
  letter-spacing: -0.5px;
  font-weight: 700;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  margin: 30px 0 0 0;
}
.features__advantage-header {
  display: flex;
  line-height: 42px;
  margin-top: 42px;
}
.features__advantage-title {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 0 15px;
  color: #3142c6;
}
.features__advantage-text {
  font-size: 18px;
  line-height: 26px;
  border-bottom: 3px solid #3142c6;
  margin: 8px 0 0 0;
  padding-bottom: 20px;
}
.features__advantage-item {
  display: flex;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
  margin-top: 21px;
  padding-bottom: 22px;
}
.features__advantage-item-text {
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
  font-weight: 700;
}
.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  font-weight: 700;
}
.tip__title {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  margin-top: 17px;
  letter-spacing: -0.36px;
  font-weight: 700;
}
.tip__descriptions {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tip__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}
.tip__image {
  max-width: 100%;
  margin-top: 30px;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
  color: rgba(43, 41, 45, 0.6);
  text-align: center;
}

.inbox {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  background-color: rgba(252, 240, 227, 0.4);
}
@media screen and (min-width: 1400px) {
  .inbox {
    flex-direction: row;
    padding: 0;
  }
}
.inbox__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .inbox__figure {
    margin: 140px 0 101px 190px;
  }
}
.inbox__illustration {
  width: 290px;
}
@media screen and (min-width: 1400px) {
  .inbox__illustration {
    width: 425px;
  }
}
.inbox__illustration-caption {
  display: none;
}
@media screen and (min-width: 1400px) {
  .inbox__illustration-caption {
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin-top: 17px;
    color: rgba(43, 41, 45, 0.6);
    text-align: center;
  }
}
@media screen and (min-width: 1400px) {
  .inbox__content {
    margin: 115px 101px 116px 165px;
  }
}
.inbox__text-block {
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .inbox__text-block {
    margin-left: 26px;
  }
}
.inbox__subtitle {
  font-size: 22px;
  line-height: 34px;
  margin-top: 32px;
  color: #f1592b;
  font-weight: 700;
}
.inbox__title {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  margin-top: 17px;
  letter-spacing: -0.36px;
  font-weight: 700;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    width: 462px;
    font-size: 56px;
    line-height: 56px;
    margin: 24px 26px 0 0;
    letter-spacing: -0.5px;
  }
}
.inbox__text {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .inbox__text {
    width: 461px;
    margin-top: 30px;
  }
}
.inbox__card {
  margin-top: 30px;
  padding: 30px 20px 28px;
  background-color: #fff;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid #0185d0;
}
@media screen and (min-width: 1400px) {
  .inbox__card {
    width: 519px;
    padding: 30px 30px 28px;
    margin-top: 44px;
  }
}
.inbox__quote {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
.inbox__quote-bold {
  font-weight: 700;
}
.inbox__user-avatar {
  display: flex;
}
.inbox__user-image {
  width: 40px;
  height: 40px;
  margin-top: 28px;
  margin-right: 11px;
}
.inbox__text-block {
  margin-top: 26px;
}
.inbox__name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
.inbox__description {
  font-size: 16px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
  font-weight: 400;
}

.communicate {
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .communicate {
    padding: 110px 128px;
  }
}
@media screen and (min-width: 1400px) {
  .communicate__content {
    display: flex;
  }
}
@media screen and (min-width: 1400px) {
  .communicate__text-block {
    max-width: 462px;
    padding-top: 13px;
    margin: 0 193px 0 2px;
  }
}
.communicate__subtitle {
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
  font-weight: 700;
}
.communicate__title {
  font-size: 40px;
  line-height: 40px;
  margin: 17px 0 0 0;
  letter-spacing: -0.36px;
  font-weight: 700;
}
@media screen and (min-width: 1400px) {
  .communicate__title {
    font-size: 56px;
    line-height: 56px;
    margin-top: 24px;
    letter-spacing: -0.5px;
  }
}
.communicate__description {
  font-size: 24px;
  line-height: 34px;
  margin: 18px 0 0 0;
}
@media screen and (min-width: 1400px) {
  .communicate__description {
    margin-top: 30px;
  }
}
.communicate__button {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .communicate__button {
    margin-top: 39px;
  }
}
.communicate__figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.communicate__image {
  max-width: 100%;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .communicate__image {
    margin: 0;
  }
}
.communicate__image-caption {
  font-size: 14px;
  line-height: 22px;
  margin-top: 17px;
  color: rgba(43, 41, 45, 0.6);
  text-align: center;
}
.communicate__line {
  width: 150px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .communicate__line {
    margin-top: 87px;
  }
}
@media screen and (min-width: 1400px) {
  .communicate__advantages {
    display: flex;
    margin-top: 41px;
  }
}
.communicate__item {
  width: 289px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 33px;
}
.communicate__item:last-child {
  margin-top: 32px;
}
@media screen and (min-width: 1400px) {
  .communicate__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1400px) {
  .communicate__item {
    width: 360px;
    margin-right: 30px;
  }
}
.communicate__advantage-title {
  margin: 0 0 6px 0;
  font-weight: 700;
}
.communicate__advantage-description {
  font-weight: 400;
}
.communicate__advantage-link {
  color: #3040c4;
  font-weight: 700;
}

.audience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
  background: rgba(0, 161, 198, 0.07);
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 108px 131px 110px 130px;
  }
}
.audience__subtitle {
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
}
.audience__title {
  font-size: 40px;
  line-height: 40px;
  margin: 17px 0 0 0;
  letter-spacing: -0.36px;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    width: 555px;
    font-size: 56px;
    line-height: 56px;
    margin-top: 24px;
    letter-spacing: -0.5px;
  }
}
.audience__description {
  width: 290px;
  font-size: 24px;
  line-height: 34px;
  margin: 18px 0 0 0;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    width: 555px;
    margin-top: 30px;
  }
}
.audience__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .audience__actions {
    display: flex;
    margin-top: 34px;
  }
}
@media screen and (max-width: 1399px) {
  .audience__action-btn {
    min-width: 100%;
  }
}
.audience__action-btn:last-child {
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .audience__action-btn:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 1400px) {
  .audience__action-btn {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1399px) {
  .audience__card-container {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .audience__card-container {
    display: flex;
  }
}
.audience__card {
  display: flex;
  flex-direction: column;
  padding: 22px 0 33px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
}
.audience__card_first {
  margin-top: 40px;
}
.audience__card:last-child {
  margin-bottom: 0;
}
.audience__card:hover {
  background-color: #3040c4;
}
@media screen and (min-width: 1400px) {
  .audience__card {
    width: 262px;
    margin: 111px 30px 0 0;
    cursor: pointer;
  }
  .audience__card:last-child {
    margin-right: 0;
  }
}
.audience__image {
  margin: 0 auto;
}
.audience__word {
  font-size: 22px;
  line-height: 28px;
  margin-top: 22px;
  font-weight: 700;
  text-align: center;
}

.feedback {
  padding: 39px 15px 50px;
  border-bottom: 1px solid #e3e3e3;
}
@media screen and (min-width: 1400px) {
  .feedback {
    display: flex;
    justify-content: center;
    height: 355px;
    padding: 0;
  }
}
@media screen and (min-width: 1400px) {
  .feedback__content {
    position: absolute;
  }
}
.feedback__subtitle {
  font-size: 24px;
  line-height: 30px;
  color: rgb(49, 66, 198);
  font-weight: 700;
}
.feedback__comment {
  font-size: 24px;
  line-height: 34px;
  margin: 29px 0 0 0;
}
@media screen and (min-width: 1400px) {
  .feedback__comment {
    max-width: 750px;
    margin-top: 28px;
    text-align: center;
  }
}
.feedback__author-block {
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
}
@media screen and (min-width: 1400px) {
  .feedback__author-block {
    text-align: center;
  }
}
.feedback__author {
  font-weight: 700;
}
.feedback__author-position {
  color: rgba(43, 41, 45, 0.6);
}
.feedback__image {
  width: 100%;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .feedback__image {
    position: relative;
    top: 72px;
    width: 273px;
    height: 243px;
    margin: 0 26px 0 auto;
  }
}

.swiper {
  display: flex;
  justify-content: center;
  height: 12px;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .swiper {
    margin-top: 38px;
  }
}
.swiper__circle {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-color: rgba(43, 41, 45, 0.2);
  cursor: pointer;
  border-radius: 100px;
}
@media screen and (min-width: 1400px) {
  .swiper__circle {
    width: 8px;
    height: 8px;
  }
}
.swiper__circle:first-child {
  margin-left: 58px;
}
@media screen and (min-width: 1400px) {
  .swiper__circle:first-child {
    margin-left: 41px;
  }
}
.swiper__circle:last-child {
  margin-right: 58px;
}
@media screen and (min-width: 1400px) {
  .swiper__circle:last-child {
    margin-right: 41px;
  }
}
.swiper__circle:hover {
  background-color: rgb(49, 66, 197);
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 73px 0 72px 0;
  }
}
@media screen and (min-width: 1400px) {
  .order__details {
    max-width: 555px;
  }
}
.order__illustration {
  display: flex;
  width: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    width: 269.41px;
    min-height: 296px;
    margin: 0;
    margin-right: 121.59px;
  }
}
.order__title {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  margin-top: 40px;
  letter-spacing: -0.25px;
  font-weight: 700;
}
.order__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  height: 48px;
  width: 100%;
  font-size: 18px;
  line-height: 13;
  border: 1px solid rgba(43, 41, 45, 0.2);
  margin-top: 80px;
  background: #fff;
  border-radius: 2px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    flex-shrink: 0;
    width: 160px;
    margin-top: 0;
    margin-left: 10px;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
  color: rgba(43, 41, 45, 0.6);
}
.order__terms-link {
  color: #3142c6;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 40px 0 23px;
  margin-top: auto;
}
@media screen and (min-width: 1400px) {
  .footer {
    padding: 0;
  }
}
.footer__description {
  display: none;
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  margin-top: 26px;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer__line {
  width: 100%;
  border-top: 1px solid #2b292d;
  margin: 0;
  opacity: 0.1;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .about-company {
    margin-top: 44px;
  }
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    display: flex;
    flex-direction: row;
    width: 1140px;
    height: 338px;
    margin: 0 auto;
  }
}

.downloads {
  display: flex;
  justify-content: center;
  margin: 31px 29px 40px 30px;
}
@media screen and (min-width: 1400px) {
  .downloads {
    justify-content: left;
    margin: 25px 0 0 0;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    flex-direction: row;
    margin: 60px 0 0 auto;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin: 0 29px 0 0;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-size: 22px;
  line-height: 28px;
  margin: 0;
  color: #2b292d;
  font-weight: 700;
}
.nav-links__list {
  font-size: 18px;
  line-height: 30px;
  margin: 18px 0 0 0;
  padding: 0;
  color: rgba(43, 41, 45, 0.6);
  list-style-type: none;
}
.nav-links__list-item {
  margin-bottom: 6px;
}
.nav-links__list-item:last-child {
  margin-bottom: 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 1140px;
    margin: 0 auto;
  }
}

.terms {
  line-height: 50px;
  font-size: 14px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .terms {
    line-height: 22px;
    font-size: 14px;
    margin-top: 0;
  }
}
.terms__item {
  margin-right: 22px;
  color: rgba(43, 41, 45, 0.6);
  text-decoration: none;
}

.social-links {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 65px;
  height: 60px;
}
.logo-vertical__name {
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
}

.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
  text-align: center;
}
